.auth {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/shop.jpg") no-repeat center center fixed;
  background-size: cover;

  & form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff91;
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 0.5rem;
    gap: 1rem;

    & h1 {
      color: var(--blue);
      margin-bottom: 2rem;
      width: 100%;
      font-weight: 450;
    }

    & input {
      width: 20rem;
      height: 2.5rem;
      padding-inline: 0.5rem;
      font-size: 1rem;
      outline: none;
      border: 1px solid #00000040;
      border-radius: 0.3rem;

      &:focus {
        border: 2px solid var(--blue);
      }
    }

    & button {
      width: 20rem;
      height: 2.5rem;
      border-radius: 0.3rem;
      border: none;
      background: var(--blue);
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        background: var(--dark-blue);
      }
    }

    & .or {
      margin-block: 0.5rem;
    }

    & p > a {
      color: var(--dark-blue);
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1024px) {
  .auth {
    /* background: url("/shop-mobile.jpg") no-repeat center center fixed; */
    padding-inline: 2rem;

    & form {
      width: 100%;
      max-width: 25rem;

      & input {
        width: 100%;
      }

      & button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .auth {
    padding-inline: 1.5rem;

    & form {
      max-width: 100%;
    }
  }
}
